@model UserManagement.UserManager.AuthModels.ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />
<div class="container">
    <form id="profile-form" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="@Model.FullName" class="form-control" required/>
                    <label style="color:black" asp-for="@Model.FullName"></label>
                    <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-floating">
                    <input asp-for="@Model.PhoneNumber" class="form-control" />
                    <label style="color:black" asp-for="@Model.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>
                <br />
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
            </div>
        </div>
    </form>
    <br /><br /><br /><br />
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}