@model IEnumerable<UserManagement.UserManager.AuthModels.ApplicationUser>

@{
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>

 <a asp-action="Create" asp-controller="UserManager"
       class="btn btn-primary mb-3" style="width:auto">
        Add new user
    </a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th>Email</th>
            <th scope="col">Acctions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in @Model)
        {
            if(user.Email != "Admin@Tm.Iq")
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>
                        <div class="input-group">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" asp-controller="UserManager" asp-action="UserRole" asp-route-userId="@user.Id">Roles</a></li>
                                <li><a class="dropdown-item" asp-controller="UserManager" asp-action="Edit" asp-route-userId="@user.Id">Edit</a></li>
                                <li><a class="dropdown-item" asp-controller="UserManager" asp-action="Delete" asp-route-userId="@user.Id">Delete</a></li>
                                <li><a class="dropdown-item" asp-controller="UserManager" asp-action="ResetPassword" asp-route-userId="@user.Id">Reset Password</a></li>
                                @if(user.EmailConfirmed == true)
                                {
                                    <li><a class="dropdown-item" asp-controller="UserManager" asp-action="Look" asp-route-userId="@user.Id">Look</a></li>
                                }
                                else
                                {
                                    <li><a class="dropdown-item" asp-controller="UserManager" asp-action="Look" asp-route-userId="@user.Id">UnLook</a></li>
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>